.header {
  background-color: rgba(255, 255, 255, 0.1);
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid var(--primary-color);
  h1 {
    margin-left: 15px;
    font-weight: 600;
    font-family: font1;
  }
}
.imgcontainer {
  height: 45%;
  aspect-ratio: 1/1;
  margin-right: 15px;
  opacity: 0.6;
  cursor: pointer;
  img {
    height: 100%;
    transition: rotate 0.7s ease-in-out;
  }
  img:hover {
    rotate: 180deg;
  }
}
